<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="script">
    <!-- Vendor js -->
<!--    <script src="/assets/js/vendor.min.js"></script>-->

    <script src="/assets/jquery/jquery-v3.6.0.min.js"></script>
    <script src="/assets/jquery/jquery.validate-v1.19.5.min.js"></script>
    <script src="/assets/bootstrap/v5.2/js/bootstrap.bundle.js"></script>

<!--    <script src="/assets/libs/peity/jquery.peity.min.js"></script>-->

<!--    &lt;!&ndash; Sparkline charts &ndash;&gt;-->
<!--    <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>-->

<!--    &lt;!&ndash; init js &ndash;&gt;-->
<!--    <script src="/assets/js/pages/dashboard-1.init.js"></script>-->

<!--    &lt;!&ndash; App js &ndash;&gt;-->
<!--    <script src="/assets/js/app.min.js"></script>-->
</th:block>